* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 100%;
  min-height: 100%;
  background-color: #fef8f4;
}

.App {
  max-width: 100%;
}

.card-dog {
  width: 600px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

img {
  margin: 0;
  border-radius: 15px 0px 0px 15px;
}

.btn-vaccines {
  background-color: #527beb;
  width: 60px;
  height: 25px;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 0 0 5px 0;
}
.card-header {
  background-color: #8d6e63;
  height: 100px;
  color: white;
  margin-bottom: 30px;
  text-align: center;
}

.data-dog {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}
.container-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  font-size: 1.1em;
  width: 60%;
  padding: 70px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
